@using VerstaTest.Data.Data
@model Order

<div class="order">
    <h5>@Model.AdressersAdress</h5>
    <h5>@Model.AdressersCity</h5>
    <h5>@Model.CargoWeight</h5>
    <h5>@Model.CollectionDate</h5>
    <h5>@Model.RecipientsAdress</h5>
    <h5>@Model.RecipientsCity</h5>
    <h5>@Model.Id</h5>
</div>
